<div class="cart container">
  <div *ngFor="let product of products" class="item row">
    <div class="col-7 col-md-10">
      
        <p class="name">
          {{product.name}}
        </p>
      
    </div>
    <div class="col-5 col-md-2 control">
      <a (click)="sub(product)"><i class="fas fa-minus qty minus" ></i></a>
      <div class="count">{{product.amount}}</div>
      <a (click)="add(product)"><i class="fas fa-plus qty plus" ></i></a>
    </div>
  </div>
  <h1 class="empty" *ngIf="!products[0]">El carro está vacío</h1>
</div>

<div class="save-buttons">
  <button *ngIf="products[0]" (click)="toPayment()" type="submit" class="btn btn-primary">Guardar y pagar</button>
  <button (click)="back()"type="submit" class="btn btn-secondary">Volver</button>

</div>