<div class="cart container">
  <div *ngFor="let product of products" class="item row">
    <div class="col-7 col-md-10">
      
        <p class="name">
          {{product.name}}
        </p>
      
    </div>
    <div class="col-5 col-md-2 control">
      <i class="fas fa-minus qty minus"></i>
      <div class="count">{{product.amount}}</div>
      <i class="fas fa-plus qty plus"></i>
    </div>
  </div>
  <h1 class="empty" *ngIf="!products[0]">El carro está vacío</h1>
</div>

<div class="save-buttons">
  <button type="submit" class="btn btn-primary">Guardar cambios</button>
  <button type="submit" class="btn btn-secondary">Volver</button>

</div>