<div class="cart container">
  <div *ngFor="let product of [0,1,2,3,4,5,6,7,8,9,10]" class="item row">
    <div class="col-7 col-md-10">
      
        <p class="name">
          Nombre del producto
        </p>
      
    </div>
    <div class="col-5 col-md-2 control">
      <i class="fas fa-minus qty minus"></i>
      <div class="count">0</div>
      <i class="fas fa-plus qty plus"></i>
    </div>
  </div>
</div>

<div class="save-buttons">
  <button type="submit" class="btn btn-primary">Guardar cambios</button>
  <button type="submit" class="btn btn-secondary">Volver</button>

</div>