<div class="row" *ngIf="currentProduct">
  <div class="col-12 col-md-6 product-image">
      <img src="http://placehold.it/350x350" />
  </div>
  <div class="col-12 col-md-6">
    <div class="product-info">
      <h1 class="title">{{currentProduct.name}}</h1>
      <hr />
      <div class="control">
        <form [formGroup]="frm" class="form-horizontal" (ngSubmit)="addToCart(frm)">
          <div class="form-group amount">
            <label for="inputAmount" class="control-label">Cantidad: </label>
            <input id="inputAmount" type="number" class="form-control" formControlName="amount" />
          </div>
          <p *ngIf="currentProduct.available">{{currentProduct.quantity}} disponibles</p> 
          <p *ngIf="!currentProduct.available">{{currentProduct.quantity}} en stock</p> 

          <div class="form-group">
            <div>
              <button *ngIf="currentProduct.available" [disabled]="!frm.valid" type="submit" class="btn btn-primary">Agregar a Carrito</button>
              <button disabled *ngIf="!currentProduct.available" type="submit" class="btn btn-primary disabled">Producto no disponible</button>
            </div>
          </div>
        </form>    
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="!currentProduct">

  <h1>Producto no existe</h1>

</div>
