<div class="row header" style="margin: auto;">
  <div class="col-3 menu-button">
    <i (click)="toggleSidenav()" class="fa fa-bars"></i>
  </div>
  <div routerLink="/" class="col-6 logo">
    <p><i class="fab fa-angular"></i>Store</p>

  </div>
  <div class="col-3 cart-button">
    <i (click)="toggleCart()" class="fa fa-shopping-cart"></i>
  </div>
</div>


<div [@sidenavAnimation]="sidenavIsOpen ? 'open' : 'closed'" class="sidenav">
  <a (click)="toggleSidenav()" class="closebtn">&times;</a>
  <app-tree [categories]="categories" [parents]="parents" (notify)='onNotify()' ></app-tree>
</div>

<div [@cartAnimation]="cartIsOpen ? 'open' : 'closed'" class="minicart">
  <div class="item-list">
    <div *ngFor="let product of products"  class="item row">
      <div class="col-10">
        <p>{{product.name}}</p>
      </div>
      <div class="col-2">
        <p>x{{product.amount}}</p>
      </div>
    </div>
    <p class="empty" *ngIf="!products[0]">El carro está vacío</p>
  </div>
  <div class="button-container">
    <button class="btn btn-primary" (click)="toggleCart()" routerLink="/cart" >Ver carro</button>
  </div>
</div>