@import "../../../variables.scss";

:host{
    width: 100%;
}

h1{
    color: $main;
    text-align: center;
}

.sort-menu{
    text-align: right;
    .selected-sort{
        color: $main;
    }
    i{
        color: $main;
        margin-left: 10px;
    }
}

.product-list{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    .product{
        padding: 20px;
        img{
            max-width: 100%;
            border-radius: 10px;
        }
        p{
            text-align: center;
            margin-top: 10px;
            margin-bottom: 0px;
            &.price{
                color: $main;
                margin: 0px;
            }
        }
    }
}

.search-box{
    padding: 10px;
}