@import "../../../variables.scss";

:host{
    width: 100%;
}

h1{
    color: $main;
    text-align: center;
}

.options{
    display: flex;
    justify-content: space-between;
    .sort-menu{
        text-align: right;
        .selected-sort{
            color: $main;
        }
        i{
            color: $main;
            margin-left: 10px;
        }
    }
    
    .filter-menu{
        .minmax{
            .price-cont{
                display: inline-block;
                margin-right: 10px;
            }
        }
        .form-control{
            width: 80px;
            height: 30px;
        }
        
        .check{
            margin-left: 10px;
        }
    }
}

.product-list{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    .product{
        padding: 20px;
        img{
            max-width: 100%;
            border-radius: 10px;
        }
        p{
            text-align: center;
            margin-top: 10px;
            margin-bottom: 0px;
            &.price{
                color: $main;
                margin: 0px;
            }
            &.available{
                color: $main;
            }
            &.unavailable{
                color: $highlight;
            }
        }
    }
}

.search-box{
    padding: 10px;
}


@include breakpoint(sm) {
    .options{
        display: flex;
        flex-flow: wrap;
        align-items: center;
        justify-content: center;
        height: 300px;
        width: 100%;
        align-content: center;
        margin: auto;
    }


}