@import "../../../variables.scss";


:host{
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.cart{
    margin-bottom: 40px;
    border: 1px solid #eee;
    border-radius: 10px;
    .item{
        &:not(:last-child){
            border-bottom: 1px solid #eee;
        }
    
        .name, .count{
            margin-bottom: 0px;
            vertical-align: middle;
            padding: 10px 0px 5px;
        }

        .count{
            text-align: right;
        }
       
    }
}

.save-buttons{
    button{
        margin: 5px;
    }
}

