/* You can add global styles to this file, and also import other style files */
@import "variables.scss";

.btn-primary{
    background-color: $main;
    border: 1px solid $main;
}

a{
    cursor: pointer;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}